# webサーバの設定
# 8080でないとブラウザがERR_CONNECTION_REFUSEDを出す (理由は未調査)
WEB_HOST_PORT=8080
WEB_CONTAINER_PORT=8080

# frontendサーバの設定
FRONTEND_CONTAINER_PORT=3000

# backendサーバの設定
BACKEND_CONTAINER_PORT=8000

# nodeの設定
NODE_VERSION=24.11.1

# dbの設定
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydatabase